@charset "UTF-8";

/* Configurações para dispositivos deitado */

body{
    background-color: rgb(158, 158, 158);
    background-image: url(paisagem.jpg);
}

h1{
    color: rgb(31, 31, 124);
}

h2#deitado{
    padding: 20px;
    color: black;
}

#pe{
    display: none;
}